body {
    margin: 0px;
    font-size: 17px
}

#playground {
     margin: 5px; /* Add a top margin to avoid content overlay */
     text-align: justify
}

.header {
    height: 30px;
    margin: 0px;
}